@import '../../../../styles/abstract/variables';

.sidenav{
    padding: .5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    @media all and (min-width: 768px) {
        padding: 2.5rem 2rem;
        height: 100%;
    }

    &_logo{
        height: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        margin-bottom: 1rem;
        padding: 0 1rem;
        font-weight: 900;
        text-transform: capitalize;
    }

    &_menu{
        &_links{
            list-style: none;
            font-size: 1.5rem;

            &-submenu{
                cursor: pointer;
                outline: none;
                color: $color-ash;
                border-radius: 1rem;
                margin: .5rem 0;
                transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);

                &--exit{
                    color: $color-danger;
                }

                &--active{
                    color: $color-deep-black;
                    background-color: lighten($color: $color-primary, $amount: 35);
                    font-weight: bolder;
                }
            }

            &--title{
                height: 4rem;
                line-height: 4rem;
                align-items: center;
                display: inline-flex;
                width: 100%;
                padding: 0 1rem;
                margin: .5rem 0;
                text-transform: capitalize;

                i{
                    font-size: 1.5rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}