<div class="sidenav">
    <div class="sidenav_logo">
        credit alert
    </div>
    <div class="sidenav_menu">
        <ul class="sidenav_menu_links">
            <li class="sidenav_menu_links-submenu" [routerLink]="['/dashboard']" routerLinkActive="sidenav_menu_links-submenu--active" >
                <div class="sidenav_menu_links--title">
                    <i class="pi pi-home"></i>
                <span>
                    Overview
                </span>
            </div>
        </li>
        <li class="sidenav_menu_links-submenu" [routerLink]="['/loans']" routerLinkActive="sidenav_menu_links-submenu--active" >
            <div class="sidenav_menu_links--title">
                <i class="pi pi-money-bill"></i>
            <span>
                Loans
            </span>
        </div>
    </li>
        </ul>
    </div>
    <div class="sidenav_menu p-mt-auto">
        <ul class="sidenav_menu_links">
            <li class="sidenav_menu_links-submenu sidenav_menu_links-submenu--exit" [routerLink]="['/auth']" >
                <div class="sidenav_menu_links--title">
                    <i class="pi pi-sign-out"></i>
                <span>
                    Log out
                </span>
            </div>
        </li>
        </ul>
    </div>
</div>
