.button {
  border-radius: 0.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-regular;
  border: 1px solid rgba(0,0,0,.1);
  line-height: 1.5;
  cursor: pointer;
  outline: none;
  background-color: inherit;
  padding: 0.625rem 1.25rem;
  // font-size: 1.25rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;

  &--wide{
    width: 100%;
  }

  &--noborder{
    border: none !important;
  }
  &--primary {
    background: $color-primary;
    color: $color-white;

    &[disabled]{
      background-color: lighten($color: $color-primary, $amount: 30);
    }
  }

  &--primary-lite{
    background-color: lighten($color: $color-primary, $amount: 35);
  }

  &--danger{
    background-color: $color-danger;
    color: $color-white;

    &[disabled]{
      background-color: lighten($color: $color-danger, $amount: 15);
    }
  }

  &--raised{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
}
