/////////////////////colours//////////////////

$color-primary:#f56b2a;
$color-grey:#4A4A4A;
$color-black:#5A5A5A;
$color-ash:#AEAEB3;
$color-white:#ffffff;
$color-off-white:#D8D8D8;
$color-off-black:#f7f7f7;
$color-deep-black:#424B5F;
$color-danger:#ff4d4f;
$color-success:#6FCF97;
$color-warning: #fcc22f;
$light-background: #fcfdff;
$app-background: #ecf1fa;

/////////////////////////font size////////////////////////////


$font-size-large: 2.4rem;
$font-size-medium:1.8rem;
$font-size-regular:1.4rem;
$font-size-regular-alt:1.424rem;
$font-size-semi-small: 1.2rem;
$font-size-small: 1.1rem;
$font-size-tiny:0.9rem;


