<div class="changepassword animate__animated animate__fadeIn animate__faster">
      <div class="changepassword_header">
        <h4 class="changepassword_header-title">
          change password
        </h4>
        <span class="changepassword_header-titlesmall">
          Please select new password to continue
        </span>
      </div>
      <form autocomplete="off" [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
        <ng-container *ngIf="changePasswordForm.errors && changePasswordForm.errors.badRequest">
          <span class="p-invalid p-my-2 p-d-block p-text-center">
            {{changePasswordForm.errors.badRequest}}
          </span>
        </ng-container>
        <div class="p-fluid">
            <div class="p-field">
                <input type="password" formControlName="password" aria-describedby="password-help"
                  class="p-inputtext-lg" pInputText placeholder="Password" (ngModelChange)="updateConfirmPasswordValidator()">
              <ng-container
              *ngIf="(formControls.password.dirty || formControls.password.touched) && formControls.password.errors">
              <span id="password-help" class="p-invalid p-mb-2 p-d-block p-px-2">Please enter password</span>
            </ng-container>
              </div>
              <div class="p-field">
                  <input type="password" formControlName="password_confirmation" aria-describedby="password-help"
                    class="p-inputtext-lg" pInputText placeholder="Confirm Password">
                <ng-container
                *ngIf="(formControls.password_confirmation.dirty || formControls.password_confirmation.touched) && formControls.password_confirmation.errors">
                <ng-container *ngIf="formControls.password_confirmation.errors.required">
                  <span id="password_confirmation-help" class="p-invalid p-mb-2 p-d-block p-px-2">Please confirm your password</span>
                </ng-container>
                <ng-container *ngIf="formControls.password_confirmation.errors.confirm">
                  <span id="password_confirmation-help" class="p-invalid p-mb-2 p-d-block p-px-2">Passwords do not match</span>
                </ng-container>
              </ng-container>
                </div>
        </div>
        <button class="button button--primary button--wide button--noborder reset-btn" type="submit"
          [disabled]="changePasswordForm.invalid || loading" [ngClass]="{'button--success': isChangeSuccessful}">
          <ng-container *ngIf="isChangeSuccessful; else isNotAuthenticated">
            <i class="pi pi-check"></i>
          </ng-container>
          <ng-template #isNotAuthenticated>
            <i *ngIf="loading" class="pi pi-spin pi-spinner"></i>
            <span *ngIf="!loading">Change</span>
          </ng-template>
        </button>
        <div class="p-field">
          <div class="p-text-center gotologin">
            <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active">Back to Sign In</a>
          </div>
        </div>
      </form>
  </div>
  