<section class="wrapper h-100">
  <div class="p-grid vh-100 p-nogutter auth p-jc-center p-ai-center">
    <div class="p-col-12 p-md-12 p-lg-5 p-mr-auto auth_forms">
      <router-outlet></router-outlet>
    </div>
    <div class="p-col-7 p-d-none p-d-lg-flex auth_bg">
      <div class="auth_bg_content">
        <img src="assets/img/loans.svg" alt="" srcset="">
        <div class="auth_bg_content-text">
          <h4 class="auth_bg_content-text--title">Loans without stress</h4>
          <p class="auth_bg_content-text--subtitle">Take a loan under 15 minutes</p>
        </div>
      </div>
    </div>
  </div>
</section>
