@import '../../styles/abstract/variables';
.auth {
  justify-content: center;
  overflow: auto;

  &_bg {
    position: fixed;
    right: 0;
    height: 100%;
    background-color: rgb(245 107 42 / .5);
    // background-color: lighten($color: $color-primary, $amount: 20);;
    top: 0;
    padding: 10rem 5rem;
    transition: display .2s;

    &_content {
      width: 75%;
      height: 55%;
      margin-top: auto;
      margin-bottom: 5rem;

      img {
        width: 100%;
        height: 100%;
      }

      &-text {
        margin-top: 1.5rem;

        &--title {
          color: $color-white;
          font-size: 3.5rem;
          font-weight: bold;
          margin: 1rem 0;
        }
        &--subtitle {
            // color: white;
            margin: .5rem 0;
            font-size: 1.5rem;
          }
      }
    }
  }

  &_forms {
    padding: 5rem 2rem;
    transition: width .2s, height .2s, padding .2s;

    @media (min-width: 576px){
        padding: 5rem;
    }
  }
}
