@import '../../../styles/abstract/variables';

.loans {
  &-pageheader {
    h3 {
      font-size: 2.5rem;
      color: $color-primary;
    }
  }

  .loancard {
    &--status {
      background: $color-success;
      color: #ffffff;
      font-size: 0.75rem;
      display: inline-block;
      text-align: center;
      font-weight: 700;
      padding: 0.25rem 0.4rem;
      border-radius: .3rem;
      text-transform: capitalize;
    }

    &--title {
      display: block;
      line-height: 1;
      font-size: 1.25rem;
      margin: .75rem 0;
      text-transform: capitalize;
    }


    &--amount {
      font-size: 2rem;
      font-weight: 700;
      display: block;
      line-height: 1;
      margin: .75rem 0;
      color: $color-black;
    }

    &--date {
      display: block;
      margin: .75rem 0;
      font-size: 1.25rem;
      line-height: 1;
      text-transform: capitalize;
    }

    .view-btn {
      line-height: 1;
      padding: .5rem 1rem;
      margin: .75rem 0 0;
      text-transform: capitalize;
    }
  }

  .noloans {
    height: 75vh;
    align-items: center;

    &-card {
      background-color: $color-white;
      padding: 5rem;
      border-radius: .75rem;
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

      &--text {
        font-size: 1.5rem;
        margin: 1.5rem 0 0;

        &-action {
          color: $color-primary;
          cursor: pointer;
          text-decoration: none;

          &:hover{
              text-decoration: underline !important;
          }
        }
      }
    }
  }
}
