<div class="resetform animate__animated animate__slideInLeft animate__faster">
    <div class="resetform_header">
        <h4 class="resetform_header-title">
            reset your password
        </h4>
        <span class="resetform_header-titlesmall">
            Enter your email to proceed
        </span>
    </div>
    <form [formGroup]="resetForm">
        <div class="p-fluid">
            <div class="p-field">
                <input type="email" formControlName="email" class="p-inputtext-lg" pInputText placeholder="Email"> 
                <ng-container *ngIf="(formControls.email.dirty || formControls.email.touched) && formControls.email.errors">
                    <span *ngIf="formControls.email.errors.required" id="email-help" class="p-invalid p-my-2 p-d-block">Email is
                      required</span>
                    <span *ngIf="formControls.email.errors.email" id="email-help" class="p-invalid p-my-2 p-d-block">Please enter valid email only</span>
                  </ng-container>
            </div>
        </div>
        <!-- <button pButton type="button" label="Reset" class="p-button button button--primary button--noborder
        p-button-lg login-btn" ></button> -->
        <button class="button button--primary button--wide button--noborder reset-btn" type="submit" [disabled]="resetForm.invalid || loading">
            <ng-container *ngIf="isAuthenticated; else isNotAuthenticated">
              <i class="pi pi-check" ></i>
            </ng-container>
            <ng-template #isNotAuthenticated>
              <i *ngIf="loading" class="pi pi-spin pi-spinner" ></i>
              <span *ngIf="!loading">Reset</span>
            </ng-template>
          </button>
        <div class="p-field">
            <div class="p-text-center remember-pwd">
                <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Back to Sign In</a>
            </div>
          </div>
    </form>
</div>