<div class="dashboard">
  <div class="p-mb-3 dashboard-user">
    <h3>Hello, Customer</h3>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="card loancard">
        <div class="card__body loancard_content">
          <div class="loancard_content_title">
            <span class="loancard_content_title--amt">
                {{(2000000000.678) | currency:'₦ '}}
            </span>
          </div>
          <i class="pi pi-chart-line loancard_content_icon"></i>
          <span class="loancard_content_subtitle">
            current loan balance
          </span>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="card loancard">
        <div class="card__body loancard_content">
          <div class="loancard_content_title">
            <span class="loancard_content_title--amt">
                {{(2000000000.678) | currency:'₦ '}}
            </span>
          </div>
          <i class="pi pi-chart-line loancard_content_icon"></i>
          <span class="loancard_content_subtitle">
            Amount Available for Loan Top Up
          </span>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="card loancard">
        <div class="card__body loancard_content">
          <div class="loancard_content_title">
            <span class="loancard_content_title--amt">
                {{(2000000000.678) | currency:'₦ '}}
            </span>
          </div>
          <i class="pi pi-chart-line loancard_content_icon"></i>
          <span class="loancard_content_subtitle">
            current loan balance
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="p-my-5">
      <h4 class="info-header">Quick links</h4>
  </div>
  <div class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-3">
          <div class="card actioncard">
              <div class="card__body p-text-center">
                <i class="pi pi-file-pdf"></i>
                <span class="actioncard_title">Loan Liquidation</span>
                <span class="actioncard_subtitle actioncard_text">Get your liquidation calculation or loan payoff balance online</span>
                <span class="actioncard_text actioncard_actiontext">Click here</span>
              </div>
          </div>
      </div>
      <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card actioncard">
            <div class="card__body p-text-center">
              <i class="pi pi-file-pdf"></i>
              <span class="actioncard_title">Loan Liquidation</span>
              <span class="actioncard_subtitle actioncard_text">Get your liquidation calculation or loan payoff balance online</span>
              <span class="actioncard_text actioncard_actiontext">view</span>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="card actioncard">
            <div class="card__body p-text-center">
              <i class="pi pi-file-pdf"></i>
              <span class="actioncard_title">Loan Liquidation</span>
              <span class="actioncard_subtitle actioncard_text">Get your liquidation </span>
              <span class="actioncard_text actioncard_actiontext">Click here</span>
            </div>
        </div>
    </div>
  </div>
</div>
