<section class="wrapper h-100">
  <div class="profile">
    <div class="p-grid p-nogutter vh-100 p-ai-center p-jc-center">
      <div class="p-col-11 p-sm-10 p-md-7 p-lg-6 p-xl-4 p-mx-auto">
        <div class="profile_header">
          <h4 class="profile_header-title">
            Profile Update
          </h4>
          <span class="profile_header-titlesmall">
            Please update your profile to proceed
          </span>
        </div>
        <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile(updateProfileForm.value)">
            <ng-container *ngIf="updateProfileForm.errors && updateProfileForm.errors.badRequest">
                <span class="p-invalid p-my-2 p-d-block p-text-center">
                  {{updateProfileForm.errors.badRequest}}
                </span>
              </ng-container>
          <div class="p-fluid">
            <div class="p-field">
              <input type="tel" formControlName="alt_phone_no" class="p-inputtext-lg" pInputText
                placeholder="Alt Phone Number">
              <ng-container
                *ngIf="(formControls.alt_phone_no.dirty || formControls.alt_phone_no.touched) && formControls.alt_phone_no.errors">
                <ng-container *ngIf="formControls.alt_phone_no.errors.invalidErr">
                  <span *ngFor="let error of formControls.alt_phone_no.errors.invalidErr" id="phone_no-help"
                    class="p-invalid p-my-2 p-d-block">{{error}}</span>
                </ng-container>
              </ng-container>
            </div>
            <div class="p-field">
              <p-calendar dateFormat="yy-mm-dd" styleClass="profile_calendar" formControlName="d_o_b" inputId="basic" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2002"
                placeholder="Date of birth"></p-calendar>
              <ng-container
                *ngIf="(formControls.d_o_b.dirty || formControls.d_o_b.touched) && formControls.d_o_b.errors">
                <span *ngIf="formControls.d_o_b.errors.required" id="d_o_b-help"
                  class="p-invalid p-mt-2 p-d-block">Please select date of birth</span>
                <ng-container *ngIf="formControls.d_o_b.errors.invalidErr">
                  <span *ngFor="let error of formControls.d_o_b.errors.invalidErr" id="phone_no-help"
                    class="p-invalid p-my-2 p-d-block">{{error}}</span>
                </ng-container>
              </ng-container>
            </div>
            <div class="p-field">
              <input type="text" formControlName="home_address" class="p-inputtext-lg" pInputText
                placeholder="Home address">
              <ng-container
                *ngIf="(formControls.home_address.dirty || formControls.home_address.touched) && formControls.home_address.errors">
                <span *ngIf="formControls.home_address.errors.required" id="home_address-help"
                  class="p-invalid p-mt-2 p-d-block">Please enter house address</span>
                <ng-container *ngIf="formControls.home_address.errors.invalidErr">
                  <span *ngFor="let error of formControls.home_address.errors.invalidErr" id="phone_no-help"
                    class="p-invalid p-my-2 p-d-block">{{error}}</span>
                </ng-container>
              </ng-container>
            </div>
            <div class="p-field">
              <p-dropdown styleClass="state-dropdown" formControlName="state" [filter]="true" [options]="states"
                placeholder="State" optionLabel="name"></p-dropdown>
              <ng-container
                *ngIf="(formControls.state.dirty || formControls.state.touched) && formControls.state.errors">
                <span *ngIf="formControls.state.errors.required" id="state-help"
                  class="p-invalid p-mt-2 p-d-block">Please select state</span>
                <ng-container *ngIf="formControls.state.errors.invalidErr">
                  <span *ngFor="let error of formControls.state.errors.invalidErr" id="phone_no-help"
                    class="p-invalid p-my-2 p-d-block">{{error}}</span>
                </ng-container>
              </ng-container>
            </div>
            <div class="p-field">
              <input type="text" formControlName="city" class="p-inputtext-lg" pInputText placeholder="City">
              <ng-container *ngIf="(formControls.city.dirty || formControls.city.touched) && formControls.city.errors">
                <span *ngIf="formControls.city.errors.required" id="city-help" class="p-invalid p-mt-2 p-d-block">Please
                  enter your city</span>
                <ng-container *ngIf="formControls.city.errors.invalidErr">
                  <span *ngFor="let error of formControls.city.errors.invalidErr" id="phone_no-help"
                    class="p-invalid p-my-2 p-d-block">{{error}}</span>
                </ng-container>
              </ng-container>
            </div>
            <div class="p-field p-mt-5">
              <button class="button button--wide button--primary button--raised profile_button" type="submit"
                [disabled]=" isUpdating">
                <ng-container *ngIf="isUpdated; else isNotAuthenticated">
                  <i class="pi pi-check"></i>
                </ng-container>
                <ng-template #isNotAuthenticated>
                  <i *ngIf="isUpdating" class="pi pi-spin pi-spinner"></i>
                  <span *ngIf="!isUpdating">Update</span>
                </ng-template>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
