@import '../../../styles/abstract/variables';

.newloan {
  &-pageheader {
    h3 {
      font-size: 2.5rem;
      color: $color-primary;
    }
  }

  &--right {
    background-color: $light-background;
    padding: 3.5rem 1rem;
    border-radius: 1rem;
    max-height: 50rem;
    min-height: 50rem;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;

    &_header {
      margin-bottom: 3.5rem;
      text-align: center;

      &-title {
        font-size: 2rem;
        margin: 1rem 0;
        font-weight: bolder;
        text-transform: capitalize;
      }

      &-titlesmall {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 1rem 0;

        a {
          color: $color-primary;
        }
      }
    }

    form {

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number] {
        -moz-appearance: textfield;

      }

      input {
        //   background-color: $color-off-black;
        //   border: none;
        padding: 1rem;
        border-radius: .5rem;
      }

      ::ng-deep .bank-dropdown.p-dropdown {
        // background-color: $color-off-black;
        // border: none;
        padding: .4rem .5rem;
        border-radius: .5rem;

        .p-dropdown-label {
          font-size: 1.25rem;
        }

        .p-dropdown-items-wrapper {
          font-size: 1.25rem;
        }
      }

      .apply-btn {
        i {
          font-size: 1.5rem;
        }
      }
    }

  }

  &--left {
    &_header {
      margin-bottom: 3.5rem;
      // text-align: center;

      &-title {
        font-size: 2rem;
        margin: 1rem 0;
        font-weight: bolder;
        text-transform: capitalize;
      }

      &-titlesmall {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 1rem 0;

        a {
          color: $color-primary;
        }
      }
    }

  }
}
