<div class="newloan">
  <div class="p-mb-3 newloan-pageheader">
    <h3>New Loan</h3>
  </div>
  <div class="p-grid">
    <div class="p-col-12 p-md-11 p-xl-10 p-mx-auto">
      <div class="p-grid p-ai-center vertical-container">
        <div class="p-col-12 p-md-5 p-lg-6">
          <div class="newloan--left">
            <div class="newloan--left_header">
              <h4 class="newloan--left_header-title">
                Personal Loan
              </h4>
              <span class="newloan--left_header-titlesmall">
                Just a few minutes away
              </span>
            </div>
          </div>
        </div>
        <div class="p-col-12 p-md-7 p-lg-6">
          <div class="newloan--right">
            <div class="p-grid w-100">
              <div class="p-col-12 p-sm-10 p-md-11 p-lg-10 p-xl-9 p-mx-auto">
                <div *ngIf="showNewLoanForm;">
                  <div class="" [@fadeInOnEnter] [@fadeOutOnLeave]>
                    <div class="newloan--right_header">
                      <h4 class="newloan--right_header-title">
                        Loan Form
                      </h4>
                      <span class="newloan--right_header-titlesmall">
                        Please fill all details
                      </span>
                    </div>
                    <form [formGroup]="newloanForm" (ngSubmit)="applyForLoan(newloanForm.value)">
                      <ng-container *ngIf="newloanForm.errors && newloanForm.errors.pendingLoan">
                        <span class="p-invalid p-my-2 p-d-block p-text-center text--regular">
                          {{newloanForm.errors.pendingLoan}}
                        </span>
                      </ng-container>
                      <div class="p-fluid">
                        <div class="p-field">
                          <input type="text" class="p-inputtext-lg" pInputText placeholder="How much do you want?"
                            formControlName="loan_amount" (input)="formatLoanAmountInput($event)">
                            <ng-container *ngIf="(formControls.loan_amount.dirty || formControls.loan_amount.touched) && formControls.loan_amount.errors">
                              <span *ngIf="formControls.loan_amount.errors.required" id="loan_amount-help" class="p-invalid p-my-2 p-d-block">Loan amount is
                                required!</span>
                              <span *ngIf="formControls.loan_amount.errors.invalidAmount" id="loan_amount-help" class="p-invalid p-my-2 p-d-block">Loan amount is invalid</span>
                            </ng-container>
                        </div>
                        <div class="p-field">
                          <input type="text" class="p-inputtext-lg" pInputText placeholder="Where do you work?"
                            formControlName="place_of_work">
                            <ng-container *ngIf="(formControls.place_of_work.dirty || formControls.place_of_work.touched) && formControls.place_of_work.errors">
                              <span *ngIf="formControls.place_of_work.errors.required" id="place_of_work-help" class="p-invalid p-my-2 p-d-block">Your place of work is required!</span>
                            </ng-container>
                        </div>
                        <div class="p-field">
                          <input type="text" class="p-inputtext-lg" pInputText placeholder="Net Pay (Monthly)"
                            formControlName="net_pay" (input)="formatNetPayAmountInput($event)">
                            <ng-container *ngIf="(formControls.net_pay.dirty || formControls.net_pay.touched) && formControls.net_pay.errors">
                              <span *ngIf="formControls.net_pay.errors.required" id="net_pay-help" class="p-invalid p-my-2 p-d-block">Your monthly net pay is
                                required!</span>
                              <span *ngIf="formControls.net_pay.errors.invalidAmount" id="net_pay-help" class="p-invalid p-my-2 p-d-block">Your monthly net pay is
                                invalid!</span>
                            </ng-container>
                        </div>
                        <div class="p-field">
                          <p-dropdown styleClass="bank-dropdown" formControlName="bank_code" [filter]="true"
                            [options]="banks" placeholder="Choose Bank" optionLabel="name"></p-dropdown>
                            <ng-container *ngIf="(formControls.bank_code.dirty || formControls.bank_code.touched) && formControls.bank_code.errors">
                              <span *ngIf="formControls.bank_code.errors.required" id="bank_code-help" class="p-invalid p-my-2 p-d-block">Select your bank name!</span>
                            </ng-container>
                        </div>
                        <div class="p-field">
                          <input type="number" class="p-inputtext-lg" pInputText placeholder="Your Account Number"
                            formControlName="acc_no">
                            <ng-container *ngIf="(formControls.acc_no.dirty || formControls.acc_no.touched) && formControls.acc_no.errors">
                              <span *ngIf="formControls.acc_no.errors.required" id="acc_no-help" class="p-invalid p-my-2 p-d-block">Enter your account number!</span>
                            </ng-container>
                        </div>
                      </div>
                      <div class="p-field">
                        <button class="button button--primary button--wide button--raised button--noborder apply-btn"
                          type="submit" [disabled]="newloanForm.invalid || isLoading">
                          <ng-container>
                            <i *ngIf="isLoading" class="pi pi-spin pi-spinner"></i>
                            <span *ngIf="!isLoading">Apply</span>
                          </ng-container>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <div *ngIf="!showNewLoanForm">
                  <div class="p-text-center" [@fadeInOnEnter] [@fadeOutOnLeave]>
                    <div class="newloan--left_header">
                      <img src="assets/img/high-five.svg" alt="" srcset="">
                      <h4 class="newloan--left_header-title">
                        Hurray!! Your application was successful
                      </h4>
                      <span class="newloan--left_header-titlesmall">
                        Please check your mail for next steps
                      </span>
                    </div>
                    <button class="button button--primary button--raised" (click)="resetLoanForm()">
                      Okay
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
