/*basic reset*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

@import '../abstract/variables';

*,
*::after,
*::before{
	margin:0;
	padding:0;
	box-sizing: inherit;
}
html{
	font-size: 62.5%;

	@media only screen and (max-width: 600px) {
		font-size:50%;
	  }
	
}

body{
	box-sizing: border-box;
	// font-family: 'Baloo 2', cursive;
	// font-family: 'Quicksand', sans-serif;
	font-family: 'Sen', sans-serif;
	font-style: normal;
	line-height: 1.5;
}

a{
	// color: inherit !important;
	transition: all .2s ease-out;

	&:hover{
		text-decoration: none !important;
		// color: //TODO;
	}

	&.btn:hover{
		text-decoration: none;
	}

	&:visited{
		// color: #F58634;
	}
}

p{
	margin: 0;
}

input,select{

	font-family: inherit;
	border-image: none;
	outline: none;
	background: transparent;

}


label,input,select{

	// font-size: //TODO;

}
html, body{
    background-color: white;
    // margin: 0;
}

.vh-100{
    min-height: 100vh;
}
.h-100{
	height: 100%;
}
.w-100{
	width: 100%;
}




